{% extends 'main.html' %}


{% block content %}     
<h1> This is delete page </h1>
<form method="POST">        
    {% csrf_token %}


    <div class="room-item">
        <!-- Display ALL fields dynamically -->
        <h3>{{ room.name }}</h3>
        <p><strong>Host:</strong> {{ room.host.username }}</p>
        <p><strong>Description:</strong> {{ room.description }}</p>
        <p><strong>Participants:</strong> {{ room.participants }}</p>
        <p><strong>Topic:</strong> {{ room.topic.name }}</p>
        <p><strong>Created:</strong> {{ room.created }}</p>
        <p><strong>Updated:</strong> {{ room.updated }}</p>
    </div>
    {% if rooms|length == 0 %}
    <p>No rooms found.</p>
    {% endif %}
    <p>Are you sure you want to delete this room?</p>

 <a href = "{{request.META.HTTP_REFERER}}"> Go Back </a> 
<button type="submit"> Confirm Delete </button>      


</form>

{% endblock content %}